#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  transition-duration: 1s; /* duration of transition back to normal */
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}
/* my solution */
button:hover {
  scale: 120%; /*scale up to 120% */
  transition-duration: 1s; /* duration of transition to 120% */
}

/* different than the actual solution but I stand by my attempt */